@import '../../assets/styles/index.scss';

.header {
  @extend %container;

  @include mq(desk) {
    box-shadow: var(--header-boxShadow);
    background-color: var(--background-main);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
  }
}

.logo {
  @include mq(desk) {
    width: 157px;
    height: 70px;
  }
}

.icons {
  color: var(--header-icons);
  display: flex;
  gap: 75px;
  height: 18px;
}

.icon-size {
  height: 2em;
}

.text {
  display: flex;
  gap: 54px;
}
