@import '../../assets/styles/index.scss';

.box {
  @extend %container;
  display: grid;
  align-items: end;
  @include mq(desk) {
    grid-template-columns: 562px 1fr;
    padding-top: 126px;
    padding-bottom: 199px;
    // border-bottom: 2px solid var(--hero-borderBottom);
  }
}

.bottom {
  border-bottom: 2px solid var(--hero-borderBottom);
  z-index: 999;
  position: relative;
}

.text {
  color: white;
}

.buttonBlue {
  @extend %btnBlue;
  width: 141px;
  height: 50px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
}

.buttonWhite {
  @extend %btnWhite;
  width: 195px;
  height: 50px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: var(--btn-text-white-hero);
}

.title {
  font-family: 'Marcellus';
  font-weight: 400;
  font-size: 80px;
  line-height: 0.875;
  color: var(--second-text-color);
  padding-bottom: 32px;
}

.rightPart {
  z-index: 3;
}
.text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-text-color);
  padding-bottom: 35px;
}

.dataNumbers {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 0.625;
  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--second-text-color);
}

.dataAge {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 0.75;
  padding: 6px 15px;

  border: 1.5px solid transparent;
  background: var(--gradient-hero-warning);
  border-radius: 50px;
  border: 1.5px solid transparent;
  color: var(--second-text-color);
}

.dataGroup {
  display: flex;
  gap: 18px;
  align-items: center;
}
.data {
  display: flex;
  gap: 59px;
  align-items: center;
  padding-bottom: 25px;
}

.btns {
  display: flex;
  gap: 30px;
}

.mainPic {
  @include mq(desk) {
    position: absolute;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 0;
    left: 40%;
    top: 100px;
    align-items: center;
    margin-left: 0;
    width: 955px;
    height: 764px;
    background-image: url(../../assets/images/batmanDesk@1x.png);
    // background-position: calc(100% - 150px) calc(100% - 100px);
    z-index: 0;
    background-size: 955px;
    box-shadow: var(--boxShadow-hero-mainPicture);
    @include mq(retina) {
      background-image: url(../../assets/images/batmanDesk@2x.png);
    }
  }
}
