@import '../../assets/styles/index.scss';

.box {
  @extend %container;
  background-color: var(--background-main);
  padding-bottom: 76px;
}

.title {
  @extend %titleOfComponents;
}
.title__arrow {
  top: 6px;
  position: relative;
}
.list {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
}

.text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 20px;
  text-align: center;
  color: var(--second-text-color);
}
.romance {
  @extend %listButton;
  cursor: pointer;
  background: linear-gradient(109.31deg, #fd093f 2.4%, #f383f1 100%);
  @extend %btnGenres;
}
.icon {
  width: 80px;
  height: 80px;
}
.Drama {
  @extend %listButton;
  cursor: pointer;
  background: linear-gradient(114.5deg, #0fffda 2.22%, #3cdb77 68.84%);
  @extend %btnGenres;
}
.Historical {
  @extend %listButton;
  cursor: pointer;
  background: linear-gradient(109.31deg, #b936ff 2.4%, #57deda 100%);
  @extend %btnGenres;
}
.Action {
  @extend %listButton;
  cursor: pointer;
  background: linear-gradient(
    109.31deg,
    #fd093f 2.4%,
    #fb1378 2.41%,
    #fccb1a 100%
  );
  @extend %btnGenres;
}
.Scifi {
  @extend %listButton;
  cursor: pointer;
  background: linear-gradient(109.31deg, #ff6472 2.4%, #fda75d 100%);
  @extend %btnGenres;
}
.Horror {
  @extend %listButton;
  cursor: pointer;
  background: linear-gradient(110.16deg, #13547a 2.37%, #80d0c7 96.77%);
  @extend %btnGenres;
}
.Comedy {
  @extend %listButton;
  cursor: pointer;
  background: linear-gradient(109.93deg, #fff77b 2.37%, #ffbf42 50%);
  @extend %btnGenres;
}
.Documentary {
  @extend %listButton;
  cursor: pointer;
  background: linear-gradient(
    109.31deg,
    #1fa2ff 2.4%,
    #1fa2ff 2.41%,
    #1f535c 97.46%
  );
  @extend %btnGenres;
}
