@import '../../assets/styles/index.scss';

.box {
  @extend %container;
  background-color: var(--background-main);
  padding-bottom: 60px;
}

.title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 0.71;

  color: var(--second-text-color);

  padding-bottom: 40px;
  padding-left: 19px;
  position: relative;
  &::after {
    content: '';
    height: 35px;
    width: 8px;
    background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
    position: absolute;
    left: calc(50% - 50%);
    border-radius: 50px;
  }
}
.title__arrow {
  top: 6px;
  position: relative;
}
.list {
  padding-bottom: 55px;
  display: flex;
  gap: 41px;
  justify-content: center;
}
.btnmovie {
  cursor: pointer;
  border: 0;
  background-color: inherit;
  &:hover:not(.active) {
    filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 4px 3px 4px rgba(44, 176, 249, 0.5);
  }
}

.btn {
  @extend %btnBlue;

  padding: 15px 34px;
}
