@import '../../assets/styles/index.scss';

.box {
  @extend %container;
  background-color: black;
  padding-bottom: 60px;
}

.title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 0.71;

  color: #ffffff;

  padding-bottom: 40px;
}

.list {
  padding-bottom: 55px;
  display: flex;
  gap: 41px;
}

.btn {
  @extend %btnBlue;

  padding: 15px 34px;
}
