@import '../../assets/styles/index.scss';

.box {
  @extend %container;
  background-color: black;
  padding-bottom: 121px;
}

.background {
  background: linear-gradient(to right, #0d1a73, #000000);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.leftBar {
  display: flex;
  align-items: left;
}

.rightBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 31px;
  color: white;
}

.text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 0.3125;
  text-transform: capitalize;

  color: #ffffff;
}
