@import '../../assets/styles/index.scss';

.box {
  @extend %container;
  background-color: var(--background-main);
  padding-bottom: 121px;
}

.background {
  background: var(--gradient-comingSoon);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
}

.leftBar {
  display: flex;
  align-items: left;
  cursor: pointer;
  border-radius: 20px 0px 0px 20px;
}

.rightBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 31px;
  color: var(--second-text-color);
  padding-left: 142px;
  cursor: pointer;
}

.text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 0.3125;
  text-transform: capitalize;

  color: var(--second-text-color);
}
