@import '../../assets/styles/index.scss';

.box {
  @extend %container;
  background-color: black;
  padding-bottom: 100px;
}

.title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 0.71;
  color: #ffffff;
  padding-bottom: 40px;
  display: flex;
  padding-left: 19px;
  position: relative;
  &::after {
    content: '';
    height: 35px;
    width: 8px;
    background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
    position: absolute;
    left: calc(50% - 50%);
    border-radius: 50px;
  }
}

.title__arrow {
  top: 6px;
  position: relative;
}

.list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.name {
  padding-top: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;

  text-align: center;

  color: #ffffff;
}
