@import '../../assets/styles/index.scss';

.box {
  @extend %container;
  background-color: var(--background-main);
  padding-bottom: 100px;
}

.title {
  @extend %titleOfComponents;
}

.title__arrow {
  top: 6px;
  position: relative;
}

.list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.actor {
  cursor: pointer;
}
.name {
  padding-top: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;

  text-align: center;

  color: var(--second-text-color);
}
