@import '../../assets/styles/index.scss';

.box {
  @extend %container;
  background: #101012;
  padding-bottom: 70px;
  padding-top: 70px;
  display: flex;
  gap: 84px;
  justify-content: center;
}

.logo {
  @include mq(desk) {
    width: 157px;
    height: 70px;
  }
}

.list {
  color: white;
  display: flex;
  gap: 52px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;

  color: #c2c2c2;
}

.item {
  padding-bottom: 27px;
}
