%btnBlue {
  cursor: pointer;
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  border-radius: 100px;
  color: #ffffff;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  border: 0;
  position: relative;

  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0, 0);

  &:hover:not(.active) {
    box-shadow: 0px 3px 15px 1px rgba(252, 132, 45, 0.7);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0px 4px 13px 1px rgba(252, 132, 45, 0.5);
  }
}

%btnWhite {
  justify-content: center;
  cursor: pointer;
  background: #ffffff;
  border-radius: 100px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;

  color: #323232;

  display: flex;
  align-items: center;
  text-align: center;

  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0, 0);

  &:hover:not(.active) {
    box-shadow: 0px 3px 10px rgba(252, 132, 45, 0.7);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0px 4px 13px rgba(252, 132, 45, 0.5);
  }
}

%container {
  margin: 0 auto;

  @include mq(mob) {
  }

  @include mq(tab) {
  }

  @include mq(desk) {
    min-width: 1120px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

%listButton {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 0.71;
  text-align: center;
  color: #ffffff;
  width: 340px;
  height: 198px;
}
