:root {
  --main-text-color: #c2c2c2;
  --background-main: #101012;
  --header-icons: #ffffff;
  --gradient-comingSoon: linear-gradient(to right, #0d1a73, #000000);
  --second-text-color: #ffffff;
  --hero-borderBottom: #2f2e2e;
  --btn-text-white-hero: #323232;
  --gradient-hero-warning: linear-gradient(black, black) padding-box,
    linear-gradient(to right, #326cff, #26fff2) border-box;
  --boxShadow-hero-mainPicture: inset -6em -8em 8em #101012,
    inset 17em 11em 21em #101012;
}
